.imageitem {
  display: flex;
  margin: 10px 0;
  height: 80px;
  object-fit: scale-down;
}

.imagewrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
button {
  height: 40px;
}
.list {
  width: 100%;
  display: flex;
}
